extends ../layout/index
block contenido
    div(class="py-10")
        h1(class="text-4xl my-10 font-extrabold text-center") Bienes
            span(class="font-normal") Raices
        h2(class="text-center text-2xl font-extrabold")=page

        div(class="mt-8 mx-auto max-w-md")
            div(class="bg-white py-8 px-4 shadow")
                form(class="space-y-5")
                    div
                        label(class="block text-sm uppercase text-gray-500 mb-3 font-bold" for="email") Email de registro
                        input(id="email" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" placeholder="Tu email" type="text" name="email")
                    div(class="flex items-center justify-between")
                        a(href="/auth/register" class="text-gray-500 text-xs") ¿No tienes cuenta? Crea una
                        a(href="/auth/login" class="text-gray-500 text-xs") ¿Ya tienes cuenta? Inicia Sesión
                    input( class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer"  type="submit" value="Enviar Instrucciones")